@charset "UTF-8";

#main_menu {
	list-style: none;
	text-align: center;
	height: 80px;
}

#main_menu > li {
	display: inline-block;
    color: #eeeeee;
}

#main_menu > li > a {
	transition: all 0.5s ease 0s;
    /* background-color: #333333;  */
    text-decoration: none;
    font-weight: 900;
	display: block;
	width: 200px;
	height: 60px;
	text-align: center;
	margin-top: 0px;
	border-top: 10px solid black;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	color: #77b1d3;
}

#main_menu > li > a:hover {
	transition: all 0.5s ease 0s; 
    background-color: #77b1d3;
    color: #000;
	height: 60px;
	
}

