@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Pretendard-Regular';
  position:relative;
    margin: 0;
    overflow:hidden;
    /* justify-content: center;
    align-items: center; */
    /* max-width: 90vw;
    min-height: 100vh; */
    background-color: #eeeeee;
}

h1    { height: 30px; }
.f14  {	font-size: 14px	}
.f20  {	font-size: 20px	}
.f24  {	font-size: 24px	}
.b    { font-weight: 700	}
.bd   { border:     1px solid #333; }
.bd5  { border: 5px solid red;  }
.maincolor  { color: #00bb99;     }
.mainbg     { background-color: #00bb99;  }


#drawing {
    margin: 0px;
    width: 100vw;
    height: 100vh;
  }

  
/* Full_iphone 
@import url('./_iphone_20240102.css');*/

/* Full stage 
@import url('./_stage_20240102.css');*/

/* Full nav 
@import url('./_nav_20240102.css');*/

/* footer */

.footer{
  position:absolute;
  min-width: 80%;
  padding-left: 85px;
  padding-right: 85px;
  left: 27px;
  bottom: -50px;
  width: calc(100% - 55px);
  height: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align:center;
  z-index: 100;
  color: #aaa;
}








@media screen and (min-width: 360px) {

}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1000px) {

}
@media screen and (min-width: 1900px) {
  
}



