@charset "utf-8";
/* CSS Document */

/* Cube design */

.test{
  border: 1px solid red;
}



#full_cube {
  position:absolute;
  display: flex;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 50px);
  
  justify-content: center;  
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  

  border-radius: 40px;
  border: 1px solid var(--main-deep);
  
  box-shadow: 
  inset 0px 0px 0px 4px var(--black),  
  inset 0px 0px 0px 6px var(--main-color),  
  inset 0px 0px 0px 8px var(--black),
  inset 0px 0px 0px 9px var(--main-deep);
  
  
  background-color: var(--black);



  /* box-shadow: 
  inset 0px 0px 0px 2px var(--black),  
  inset 0px 0px 0px 5px var(--main-color),  
  inset 0px 0px 0px 8px #eee,
    inset 0px 0px 0px 6px #333,
    inset 0px 0px 0px 8px var(--main-deep),
    inset 0px 0px 1px 4px #444,
     inset 0px 0px 0px 5px #000; */


}



  
@media screen and (min-width: 0px) {
    #full_iphone {
      left: 0px;
      top: 15px;
      width: calc(100% - 0px);
      height: calc(100% - 20px);
      min-width: 360px;
  
      transform: scale(0.95);
      -moz-transform: scale(0.95);
      -o-transform: scale(0.95);
      -ms-transform: scale(0.95);
      -webkit-transform: scale(0.95);
    }
    .footer{
      font-size: 10px;
    }
  }
  @media screen and (min-width: 560px) {
    #full_iphone {
      left: 10px;
      top: 30px;
      width: calc(100% - 20px);
      height: calc(100% - 40px);
      min-width: 560px;
  
  
      transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
    }
    .footer{
      font-size: 12px;
    }
  
  }
  @media screen and (min-width: 960px) {
    #full_iphone {
        left: 10px;
        top: 30px;
        min-width: 960px;
        width: calc(100% - 20px);
        height: calc(100% - 40px);
    }
  }
  @media screen and (min-width: 1600px) {
    #full_iphone {
        left: 10px;
        top: 30px;
        min-width: 1600px;
        width: calc(100% - 20px);
        height: calc(100% - 40px);
    }
  
  }








#full_iphone_gold {
  position:absolute;
  display: flex;
  left: 30px;
  top: 30px;
  width: calc(100% - 45px);
  min-width: 550px;
  height: 95%;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);

  
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #999, 0 0 30px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #999, 0 0 30px 0px rgba(0, 0, 0, 0.7);
  

  border-radius: 106px;
  border: 1px solid #4b4622;
  border-bottom: 0;
  background-image: linear-gradient(45deg, #000, #000);
  box-shadow: 
    inset 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #999, 0 0 10px 0px rgba(0, 0, 0, 0.7),
    inset 0px 0px 0px 1px #333,
    inset 0px 0px 0px 2px #eee,
    inset 0px 0px 0px 3px #333,
    inset 0px 0px 3px 7px #ffe6a1,
    inset 0px 0px 1px 8px #fff3d1,
    inset 0px 0px 0px 15px #000;
}


  