@charset "utf-8";
/* CSS Document */



:root {
	/* Color Guide */
	
	/* Light=100, default=400, dark=800; */
	/* Primary blue */
	--primary-100: #bbdefb;
	--primary-400: #42a5f5;		
	--primary-800: #1565c0;
	/* secondary green */
	--secondary-100: #c8e6c9;		
	--secondary-400: #66bb6a;		
	--secondary-800: #2e7d32;
	/* Accent orange*/
	--accent-100: #ffe0b2;		
	--accent-400: #ffa726;		
	--accent-800: #ef6c00;
	/* Event Purple*/
	--event-100: #e1bee7;		
	--event-400: #ab47bc;		
	--event-800: #6a1b9a;
	
	/* Action(동작) blue*/
	--Act-100: #bbdefb;
	--Act-400: #42a5f5;		
	--Act-800: #1565c0;
	/* Success(성공 Green*/
	--suc-100: #c8e6c9;		
	--suc-400: #66bb6a;		
	--suc-800: #2e7d32;
	/* Warning경고 yellow*/
	--war-100: #fff9c4;		
	--war-400: #ffee58;		
	--war-800: #f9a825;
	/* 오류,위험 Red */
	--err-100: #ffcdd2;		
	--err-400: #ef5350;		
	--err-800: #c62828;
	
	
	/* Grayscale */
	--bk-0: #ffffff;
	--bk-1: #eeeeee;
	--bk-2: #e0e0e0;
	--bk-3: #cccccc;
	--bk-4: #aaaaaa;
	--bk-5: #888888;
	--bk-6: #666666;
	--bk-7: #444444;
	--black: #222222;

	
	

}

.div {
	background-color: var(--primary-400);
	color: var(--primary-800);
	width: 300px;
	height: 300px;
	
}



